<div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label control-label required" for="pim_enrich.export.product.filter.attributes">
        <%- __('pim_enrich.entity.attributes.uppercase_label') %> <em><%- __('pim_common.required_label') %></em>
    </label>
</div>
<div class="AknFieldContainer-inputContainer">
    <select class="select2" <%- isEditable ? '' : 'disabled' %> id="pim_enrich.export.product.filter.channel" multiple>
        <% _.each(availableAttributes, function (attr) { %>
            <option value="<%- attr %>" <%- _.contains(attributes, attr) ? 'selected' : '' %>><%- attr %></option>
        <% }); %>
    </select>
    <div class="AknFieldContainer-iconsContainer icons-container">
        <i class="AknIconButton icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="<%- __('webkul.export.product.filter.attributes.help') %>"></i>
    </div>
</div>
<div class="AknFieldContainer-footer">
    <span class="below-input">
        <span class="AknFieldContainer-validationErrors validation-errors">
            <span class="AknFieldContainer-validationError">
                <span class="error-message"><%- errors %></span>
            </span>
        </span>
    </span>
</div>