<style>
    .AknComparableFields {
        display: flex;
        flex-wrap: wrap;
        width: 250%;
    }
    .AknMediaField {
        flex-basis: 24.3%;
        margin: 0 0px 5px 5px;
        max-width: 24.3%;
        min-height: 200px;
    }
    .AknMediaField-info {
        display: block !important;
    }
    .filename {
        word-break: break-all;
    }
    input.ak-input-copy-link {
        position: absolute;
        bottom: 35px;
    }  
    
    </style>
    

<% if (value && value.data) { %>
        
    <%_.each(value.data, function (image,key){ %>

        <% if(typeof(image.filePath) !== 'undefined') { %>
            <div class="AknMediaField <%- image && image.filePath ? 'has-file' : '' %>" >
                    <div class="AknMediaField-preview preview">
                        
                        <% mediaThumbnailUrl = mediaUrlGenerator.getMediaShowUrl(image.filePath, 'thumbnail_small') %>
                        <% mediaPreviewUrl   = mediaUrlGenerator.getMediaShowUrl(image.filePath, 'preview') %>                        
                        
                                                                    
                        <div class="AknMediaField-info info">
                            
                            <div class="filename" title="<%- image.originalFilename %>"><%- image.originalFilename %></div>
                            <% extension = image.originalFilename.split('.').pop() %>
                            <% imageExtensions = ['jpg','jpeg','png','bmp']%>
                            <div class="AknButtonList AknButtonList--centered actions">
                                <input type="hidden" name="asset_index" value = "<%- key %>">  
                                <% if ('pim_catalog_image' === attribute.type && null != mediaPreviewUrl && imageExtensions.includes(extension) !== false) { %>
                                    <span class="AknButtonList-item AknIconButton AknIconButton--grey open-media"><i class="icon icon-eye-open"></i></span>
                                <% } %>                                
                                                                
                            </div>
                        </div>
                    </div>
                
                
            </div>
        <% } %>
    <% }) %>
<% } %>
