<style>

    .AknFullPage-illustration {
        display: none;
    }
    </style>    
    <div class="item-picker-basket panel-container">        
        <div class="AknColumnConfigurator-listContainer">
            <div class="AknColumnConfigurator-columnHeader">
                <%- title %>
            </div>
            <div class="AknGrid--gallery">
                <div class="AknGridContainer AknGridContainer--withCheckbox">
                    <div class="AknGrid AknGrid--withCheckbox">
                        <div class="AknGrid-body basket-inner">                            
                            <% if (!_.isEmpty(items)) { %>
    
                                <% _.each(items, function (item) { %>
                                    <div data-itemCode="<%- itemCodeMethod(item) %>" class="AknGrid-bodyRow AknGrid-bodyRow--thumbnail AknGrid-bodyRow--withoutTopBorder">
                                        <% var mediaFiles = typeof(item.medias) !== 'undefined' ? item.medias : [] %>
                                        <% mediaThumbnailUrl = ''%>
                                        <% if(mediaFiles.length != 0) { %>
                                        <% imageFilePath = (typeof(mediaFiles[0] !== 'undefined') &&  
                                                                                    typeof(mediaFiles[0].filePath !== 'undefined')) ?
                                                                                    mediaFiles[0].filePath :
                                                                                    null %>
                                       
                                        <% mediaThumbnailUrl = MediaUrlGenerator.getMediaShowUrl(imageFilePath, 'thumbnail') }%>
                                            <div class="AknGrid-fullImage Differ" style="background-image: url('<%- mediaThumbnailUrl %>')"></div>
                                        
                                        <div class="AknButton AknButton--important AknButton--micro AknButton-squareIcon AknButton-squareIcon--delete AknitemCollectionField-icon remove-item" data-itemCode="<%- itemCodeMethod(item) %>"></div>
                                        <div class="AknGrid-title"><%- labelMethod(item) %></div>
                                        <div class="AknGrid-subTitle"><%- item[identifierName] %></div>
                                    </div>
                            <% }); %>                            
                            <% } else { %>
                            <div class="empty-basket">
                                <%- emptyLabel %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    