
<td class="AknGrid-bodyCell field-cell">
    <div class="AknFieldContainer AknFieldContainer--withoutMargin">
        <div class="AknFieldContainer-inputContainer">
            <% if (item.id) { %>
                <input type="hidden" class="attribute_option_code" value="<%- item.code %>"/>
                <span class="option-code"><%- item.code %></span>
            <% } else { %>
                <input type="text" class="AknTextField attribute_option_code exclude" value="<%- item.code %>"/>
                <div class="AknFieldContainer-iconsContainer">
                    <i class="AknIconButton AknIconButton--important AknIconButton--hide icon-warning-sign validation-tooltip" data-placement="top" data-toggle="tooltip"></i>
                </div>
            <% } %>
        </div>
    </div>
</td>
<td class="AknGrid-bodyCell field-cell">
    <div class="AknFieldContainer AknFieldContainer--withoutMargin">
        <div class="AknFieldContainer-inputContainer">
            <div class="AknMediaField<%- item && item.image && item.image.filePath ? 'has-file' : '' %>" style="height: 50px !important; width: 50px !important;">
                <% if (!item || !item.image || item.image.filePath === null) { %>
                    <input class="AknMediaField-fileUploaderInput" id="" type="file" data-locale="" data-scope=""/>
                    <div class="AknMediaField-emptyContainer">
                        <span title="upload icon" class="AknMediaField-uploadIcon" style="height: 40px !important; width: 40px !important;"/>
                    </div>
                    <div class="AknMediaField-progress AknProgress AknProgress--micro progress">
                        <div class="AknProgress-bar bar"></div>
                    </div>
                <% } else { %>
                    <div class="AknMediaField-preview preview">
                        
                        <% mediaThumbnailUrl = mediaUrlGenerator.getMediaShowUrl(item.image.filePath, 'thumbnail_small') %>
                        <% mediaPreviewUrl   = mediaUrlGenerator.getMediaShowUrl(item.image.filePath, 'preview') %>
                        <div class="AknMediaField-thumb file" style="position:relative">
                            <img src="<%- mediaThumbnailUrl %>" class="AknMediaField-image" style="height: 40px !important; width: 40px !important;"/>
                            <div class="clear-field" style="position: absolute;top: -3px;bottom: 0;left: 23px;right: 0;height: 100%;width: 100%; transition: .3s ease;cursor:pointer;height: 10px !important;width: 10px !important;"><i class="icon icon-remove"></i></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</td>
<% _.each(locales, function (locale) { %>
    <td class="AknGrid-bodyCell field-cell">
        <% if (item.optionValues[locale]) { %>
            <input type="text" class="AknTextField attribute-option-value exclude" data-locale="<%- locale %>"
                value="<%- item.optionValues[locale].value %>"/>
        <% } else { %>
            <input type="text" class="AknTextField attribute-option-value exclude" data-locale="<%- locale %>"
        value=""/>
        <% } %>
    </td>
<% }); %>
<td class="AknGrid-bodyCell">
    <div class="AknButtonList AknButtonList--right AknButtonList--expanded">
        <span class="AknButtonList-item AknIconButton AknIconButton--round AknIconButton--apply AknIconButton--ok update-row"></span>
        <span class="AknButtonList-item AknIconButton AknIconButton--round AknIconButton--important AknIconButton--removeWhite show-row"></span>
    </div>
</td>