<div class="AknFieldContainer magento-attribute" data-code="magentoAttributeId" <%  if(type != 'attribute') { %> style="display: none" <% } %>>
    <div class="AknFieldContainer-header">
        <label for="magentoAttributeId" class="AknFieldContainer-label control-label required">
            <%- label %> <em><%- required %></em>
        </label>
    </div>

    <!-- Select Field -->
    <div class="AknFieldContainer-inputContainer field-input">
        <select class="select2 select-field" name="magentoAttributeId" id="pim_enrich_entity_form_magentoAttributeId" required>
            <% _.each(attributes, function(attribute) { %>
                <option value="<%- attribute.id %>" <%- attribute.id === magentoAttributeId ? 'selected' : '' %>><%- attribute.label %></option>
            <% }); %>
        </select>
    </div>
    <!-- //Select Field -->

    <!-- Validation Error block -->
    <%  if(error) { %>
        <div class="AknFieldContainer-footer">
            <div class="AknFieldContainer-validationErrors validation-errors">
                <div class="AknFieldContainer-validationError">
                    <i class="icon-warning-sign"></i>
                    <%- error %>
                </div>
            </div>
        </div>
    <% } %>
    <!-- //Validation Error block -->
</div>