<!-- Styles for grid view -->
<style>
    .AknFormContainer-Mappings .field-input,.AknFormContainer-Mappings .field-header,.AknFormContainer-Mappings .header-col {
        display: inline-block;
        width: calc(33% - 2px);
        border: none;
    }
    .AknFormContainer-Mappings .AknForm-header.widget-header {
        border-bottom: 2px solid #67768A;
        margin-bottom: 10px;
    }
    .AknSettingField {
        width: 80%;
    }
</style>

<!-- //HTML for form grid view -->
<div class="AknFormContainer AknFormContainer--withPadding  AknFormContainer-Mappings" style="width: 100%">
    <!-- Input Field -->
    <div class="woocommerce-settings"> 
        <div class="AknFieldContainer" >    
            <div class="field-header">
                <label class="AknFieldContainer-label">
                    <%- _.__('Attributes used to make translation')%> <%- _.__('(must add localizable attribute)') %>
                </label>
            </div>
            <div class="field-input">
                
                <select name="custom_fields" id="pim_enrich_from_custom_fields" class="select2 label-field AknSettingField attributeValue other_mappings" multiple>
                <% selectVal = model && typeof(model['other_mappings']) !== 'undefined' && typeof(model['other_mappings']['custom_fields']) !== 'undefined' ? model['other_mappings']['custom_fields'] : '' %>
                <% _.each(attributes, function(value){%> 
                    <!-- && Object.values(selectedStoreVal).indexOf(value.code) === -1 -->
                    <% if(value.localizable === true && ['pim_catalog_text'].indexOf(value.type) !== -1 ) { %>

                        <option value='<%- value.code %>'<% if(value.code === selectVal || (',' + selectVal + ',' ).indexOf(','+value.code+',') !== -1 ) { %>selected="selected"<% } %> >
                            <%- 'undefined' !== typeof(value.labels[currentLocale]) ? value.labels[currentLocale] : value.code  %>
                        </option>
                    <% }%> 
                <% });%>           
                </select>
            </div>
            <span class="limit-width-35">
                <a href="javascript:void(0);" class="AknButtonList-item AknButton AknButton--grey AknButton--small select-all" data-for="pim_enrich_from_custom_fields" title="<%- _.__('Select all') %>">
                    <%- _.__('Select all') %>
                </a>
                <a href="javascript:void(0);" class="AknButtonList-item AknButton AknButton--grey AknButton--small remove-all" data-for="pim_enrich_from_custom_fields" title="<%- _.__('Deselect all') %>">
                    <%- _.__('Deselect all') %>
                </a>                
            </span>
        </div>
    </div>
</div>