<style>
    .wk_margin_top_10 {
        margin-top: 10px;
    }
    .wk_store_mapping td {
        width: calc(30%);
    }
    .wk_store_mapping .wk_header_cell {
        border: none;
        display: table-cell;
        color: #67768A;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 0px;        
    }
    .wk_store_mapping table {
        table-layout: fixed;
        text-align: left;
    }    
    .wk_store_mapping table thead {
        border-bottom: 2px solid #67768A;        
    }
    .default{
        text-align: center;
        width: 15%;
    }
    .MagentoStoreMapping-hint {
        background: #F5F9FC;
        display: flex;
        padding: 5px;
        font-size: 13px;
        color: #67768A;
        min-height: 80px;
        align-items: center;
    }
    .MagentoStoreMapping-icon {
        min-height: 60px;
        height: auto;
        background-repeat: no-repeat;
        position: relative;
    }
    .MagentoStoreMapping-icon--info {
        background-size: 24px auto;
        border-right: 1px #D9DDE2 solid;
        background-position: 50%;
        min-width: 65px;
        margin-right: 16px;
        background-image: url(../bundles/pimui/images/icon-info.svg);
    }
    .MagentoStoreMapping-hintTitle {
        flex-grow: 1;
    }
    .MagentoStoreMapping-remove {
        margin: 15px;
        background-size: 20px;
    }
    .AknIconButton--remove {
        background: url(../bundles/pimui/images/icon-remove.svg) no-repeat center;
        background-size: 20px;
        opacity: 0.8;
        transition: opacity 0.1s ease-in;
        font-size: 0;
    }
    .MagentoStoreMapping-hint--hidden {
        display: none;
    }
    #container .AknButtonList[data-drop-zone="buttons"] div:nth-of-type(2) {
        display: none;    
    }
    .AknFieldContainer-inputContainer.field-select {
        width: 46%;
    }
    .wk_credential {
        min-width: 70px;
        min-height: 60px;
        height: auto;
        background-repeat: no-repeat;
        background-position: 50% 15px;
        background-size: 29px auto;
        position: relative;
    }

    .wk_credential--dropdown-button {
        background-image: url(../bundles/pimui/images/icon-down.svg);
        border: 0;
        margin: 0;
        background-size: 100%;
        min-width: 24px;
        height: 24px;
        cursor: pointer;
        filter: grayscale(1);
    }
    .wk_credential-table {
        /* background: #F5F9FC; */
        display: flex;
        padding: 5px;
        font-size: 13px;
        min-height: 80px;
        align-items: center;
    }

</style>
<div class="AknCatalogVolume-sectionHeading">
    <div class="AknWidget-header AknWidget-header--compact widget-header">
            Akeneo Channels Mapping With the magento2 Stores
        <!-- <div class="wk_credential wk_credential--dropdown-button open-hint "></div> -->
    </div>
    <div class="wk_credential-table">
        <div class="AknCatalogVolume-hintTitle"> 
            <div class="wk_margin_top_10 wk_store_mapping">
                <% if(storeViews && Object.keys(storeViews).length) { %>
                    <table class="AknGrid AknGrid--unclickable">
                        <thead>
                            <tr>
                                <th class="wk_header_cell" >
                                    <%- _.__('Store Id IN magento2') %>
                                </th>
                                <th class="wk_header_cell">
                                    <%- _.__('Store Views IN magento2') %>
                                </th>
                                <th class="wk_header_cell">
                                    <%- _.__('CHANNEL IN AKENEO') %>
                                </th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <% _.each(storeViews, function(stores, key) {  %>
                                <% _.each(stores, function(store, key) { if(store.store_group_id) {  %>   
                                    <tr class="AknGrid-bodyRow storeViewData" data-storeViews = "<%- _.pluck(stores, 'code') %>" websiteId="<%- _.first(stores).website_id %>">
                                        <% if(!key) { %>
                                            <td rowspan="<%- Object.keys(stores).length %>" class="AknGrid-bodyCell">                          
                                                <%- 'Store Id : ' + store.store_group_id %>
                                            </td> 
                                        <% } %>
                                        
                                        <td class="AknGrid-bodyCell" <% if(key) { %>  style="border-top: 0px !important;" <% } %> >
                                            <%- store.name %>
                                        </td>
                                        <% if('undefined' !== typeof(storeMapping[store.code]) && 'undefined' !== typeof(storeMapping[store.code]['channel']) && storeMapping[store.code]['channel']) { 
                                                selectedVal = storeMapping[store.code]['channel'];
                                            } else {
                                                selectedVal = null;
                                            } %>
                                        <% if(!key) { %>
                                            <td rowspan="<%- Object.keys(stores).length %>" class="AknGrid-bodyCell AknGrid-bodyCell--right">                          
                                                <select name="channel">
                                                    <option value=""><%- _.__('Select Akeneo Channel for store view') %></option>
                                                    <% if(typeof(channels) !== 'undefined' && channels) { %>
                                                        <% _.each(channels, function(channel, key) { %>
                                                            <option value="<%- channel.code %>"  <% if(channel.code === selectedVal) { %>selected="selected"<% } %> >
                                                                <%- channel.code %>
                                                            </option>
                                                        <% }); %>
                                                    <% } %>
                                                </select>
                                            </td> 
                                        <% } %>
                                    </tr>
                                <% }}); %>
                            <% }); %>
                        </tbody>
                    </table>
            
                <% } %> 
            </div>
        </div>
    </div>
</div>

