<div class="AknFormContainer AknFormContainer--withPadding AknFormContainer-Credential">
    <!-- Input Field -->
    <% _.each(controls, function (control) { %>
        <div class="AknFieldContainer">
            <div class="AknFieldContainer-header">
                <label class="AknFieldContainer-label">
                    <%- _.__(control.label) %> <em><%- _.__('pim_enrich.form.required') %></em>
                </label>
            </div>
            <div class="AknFieldContainer-inputContainer field-input">
                <input type="<%- control.type %>" name="<%- control.name %>" id="pim_enrich_entity_form_<%- control.name %>" class="AknTextField label-field" value="<%- model[control.name] %>" required>
            </div>
            
            <!-- Validation Error block -->
            <%  if(errors[control.name]) { %>
                <div class="AknFieldContainer-footer">
                    <div class="AknFieldContainer-validationErrors validation-errors">
                        <div class="AknFieldContainer-validationError">
                            <i class="icon-warning-sign"></i>
                            <%- errors[control.name] %>
                        </div>
                    </div>
                </div>
            <% } %>
            <!-- //Validation Error block -->

        </div>
    <% }); %>
    <!-- //Input Field -->

</div>